<section class="more-benefits">
    <div class="benefit">
        <img ngSrc="assets/team-img.png" height="500" width="500">
        <h3>Equipe Capacitada</h3>
        <p>Nossa equipe é composta por profissionais altamente qualificados, preparados para oferecer soluções de software personalizadas. Com experiência e conhecimento, garantimos qualidade, agilidade e inovação em todas as etapas do seu projeto.</p>
    </div>

    <div class="benefit">
        <img ngSrc="assets/briefing.png" height="500" width="500"> 
        <h3>Seus projetos guiados do zero</h3>
        <p>Acompanhamos cada fase do seu projeto, desde a concepção até a entrega final. Nossa abordagem personalizada e eficiente assegura que suas necessidades sejam atendidas de forma alinhada aos seus objetivos, resultando em soluções de alto impacto.</p>
    </div>
</section>