<app-header/>
<main>
  <section class="main-section pad-70">
    <div class="headline">
      <span>NEXUS DEV SOLUÇÕES</span>
      <h1>Seu site, sua identidade. Nós tornamos real.</h1>
    </div>
    <img ngSrc="assets/initial-img.svg" width="450" height="450">
  </section>
  <section class="benefit-section pad-70">
    <div class="benefit-data">
      <h2>
        75% dos 
        <br>
        usuários
      </h2>
    </div>
    <p>julgam a credibilidade de uma empresa pelo <b>design</b> do site.</p>
  </section>
  <section class="cta-section">
    <btn-primary btn-text="Fale com nossos especialistas"></btn-primary>
  </section>
  <newsletter-form></newsletter-form>
  <more-benefits></more-benefits>
  <section class="cta-section pad-70">
    <h2>
      Quer elevar seu software e seus negócios para o próximo nível?
    </h2>
    <btn-primary btn-text="Fale com nossos especialistas"></btn-primary>
  </section>
  <info-footer></info-footer>
</main>
